.vuep-editor
  display none

.vuep-preview
  flex 1 1 auto
  width 100%
  padding 0
  border-radius 0
  height 100%
  border none
  overflow inherit

.field-wrapper
  position relative
  padding-top 3rem

.material-icons
  border-radius 0

.icon.material-icons.input-group__prepend-icon:hover
  cursor pointer
  color #009688

.settings__wrapper
  min-height 420px !important
  min-width 580px !important

  .settings__panel
    min-height 366px !important

.menu-handle:hover, .vdr.active
    cursor grab !important

.vdr.active:before {
  outline none !important
}

.option__input
  padding 0!important

.btn__field-controls
  z-index 1 !important
  position absolute !important

  &.btn__settings
    top 0
    right 0
    padding 0 !important
    margin 0 !important

    &:hover
      cursor pointer !important
      color #009688 !important

  &.btn__handle
    top 0
    right 32px
    padding 0 !important
    margin 0 !important

    &:hover
      cursor grab !important
      color #009688 !important

.fade-enter-active, .fade-leave-active
  transition opacity .5s

.fade-enter, .fade-leave-to
  opacity 0

.list-complete-item
  transition all 1s

.list-complete-enter, .list-complete-leave-active
  opacity 0
